---

devl:
     hostname: 'localhost'
#      hostname: '192.168.1.69'
     hostport: '5432'
     database: 'devl'
     username: 'tro_rw'
     password: 'tro_rw'

test:
     hostname: '192.168.1.16'
     hostport: '5432'
     database: 'test'
     username: "tro_rw"
     password: "tro_rw"

prod:
     hostname: '192.168.1.34'
     hostport: '5432'
     database: 'prod'
     username: "tro_rw"
     password: "tro_rw"

...
